{% extends "base.html" %}

{% block base_content %}

          <form class="form-reg">

            <h4 class="form-reg-heading">Пожалуйста, введите ваш email адрес</h4>

            <label for="inputEmail" class="sr-only">Email адрес</label>
            <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email адрес" required autofocus>

            <h4><span class="label label-danger" id="authError"></span></h4>

            <button id="restore_pwd_btn" class="btn btn-lg btn-primary btn-block" onclick="ask_restore_password();">Отправить запрос</button>
          </form>

{% endblock %}

