{% extends "base.html" %}

{% block base_content %}

          <form class="form-reg">

            <h4 class="form-reg-heading">Пожалуйста, введите новый пароль</h4>

            <label for="inputPassword" class="sr-only">Пароль</label>
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Пароль" required>

            <label for="inputPassword2" class="sr-only">Повторите пароль</label>
            <input type="password" id="inputPassword2" class="form-control" placeholder="Повторите пароль" required>

            <h4><span class="label label-danger" id="authError"></span></h4>

            <button class="btn btn-lg btn-primary btn-block" onclick="set_password();">Сменить пароль</button>
          </form>

{% endblock %}

